.italic-text {
  font-family: 'Crimson Text', Georgia, serif;
  font-style: italic;
  color: $grey-text;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  
  &--details {
    display: inline-block;
    margin-bottom: 20px;
  }
}