.main-header {
  min-height: 180px;
  background-image: url("../img/gratia.png");
  background-repeat: no-repeat;
  background-size: 380px;
  background-position-x: 50%;
  margin-top: 60px;
  
  &--features {
    padding-top: 25px;
  }
}