.page-slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
}

.page-slider__big-slogan {
  margin: 0;
  padding: 30px 0 0 0;
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  width: 700px;
}

.page-slider__slogan-back {
  display: block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 75px;
  color: $header-color;
  font-weight: bold;
  line-height: 0.716;
  text-shadow: 0px 0px 85px #020202;
  text-transform: uppercase;
  margin-bottom: 114px;

  &:first-child {
    padding-left: 140px;
  }

  &:nth-child(2) {
    margin-right: 370px;
    font-size: 80px;
  }
  
  &:nth-child(3) {
    font-size: 80px;
  }

  &:nth-child(4) {
    padding-left: 70px;
    margin-bottom: 70px;
  }
}

.page-slider__slogan-back--span {
  display: inline-block;
}

.page-slider__slides {
  @include list-reset;
  position: absolute;
  bottom: 60px;
  left: 30px;
}

.page-slider__slide {
  margin-bottom: 40px;
}

.page-slider__button {
  border: none;
  background-color: inherit;
  color: white;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  width: 60px;
  text-align: left;
  cursor: pointer;
  
  &:hover {
    color: $brown-color;
  }
  
  &--active {
    color: $brown-color;
    border-bottom: solid 2px $brown-color;
  }
}

.page-slider__arrow {
  position: absolute;
  top: 190px;
  width: 40px;
  height: 65px;
  border: none;
  background-color: inherit;
  background: url("../img/arrow.png"),
    no-repeat;
  background-position: center;
  background-size: contain;
  
  &--left {
    left: 20px;
  }
  
  &--right {
    right: 20px;
    transform: rotateY(180deg);
  }
}

.page-slider__book {
  position: absolute;
  right: -200px;
  border: solid 1px rgb(38, 48, 69);
  width: 190px;
  height: 40px;
  background-color: #151b28;
  color: $brown-color;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
  
  &:hover {
    color: $brown-color;
  }
}

.page-slider__image {
  position: absolute;
  background: url("../img/knife.png"),
    no-repeat;
  background-position-x: center;
  background-position-y: 2px;
  background-size: cover;
  width: 600px;
  min-height: 406px;
  left: 50%;
  transform: translateX(-45%);
  z-index: 10;
}

.page-slider__small-slogan {
  display: inline-block;
  font-family: 'Crimson Text', Georgia, serif;
  font-style: italic;
  color: #485471;
  font-size: 24px;
  line-height: 36px;
  margin-left: 200px;
}